{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Royal Kitchen</title>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
<!--

Template 2076 Royal Kitchen

http://www.tooplate.com/view/2076-Royal Kitchen

-->
	<link rel="stylesheet" href="{% static 'Myapp/css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{% static 'Myapp/css/animate.min.css'%}">
	<link rel="stylesheet" href="{% static 'Myapp/css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'Myapp/css/nivo-lightbox.css'%}">
	<link rel="stylesheet" href="{% static 'Myapp/css/nivo_themes/default/default.css'%}">
	<link rel="stylesheet" href="{% static 'Myapp/css/style.css'%}">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
	<style>
		.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 12px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}
	</style>
</head>

<body>

<!-- preloader section -->
<section class="preloader">
	<div class="sk-spinner sk-spinner-pulse"></div>
</section>

<!-- navigation section -->
<section class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">Royal Kitchen</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#home" class="smoothScroll">HOME</a></li>
				<li><a href="#gallery" class="smoothScroll">FOOD GALLERY</a></li>
				<li><a href="#menu" class="smoothScroll">SPECIAL MENU</a></li>
				<li><a href="#team" class="smoothScroll">CHEFS</a></li>
				<li><a href="#contact" class="smoothScroll">CONTACT</a></li>

				{% if user.is_authenticated %}
				<li><a  href="{% url 'cart_detail' %}"><i class="fa" style="font-size:24px">&#xf07a;</i>
					<span class='badge badge-warning' id='lblCartCount'> {{request.session.cart|length}}  </span></a></li>
					<li><a href="{% url 'useraccount' request.user %}" class="smoothScroll">ACCOUNT</a></li>
				{% else %}
				<li><a  href="{% url 'signin' %}"><i class="fa" style="font-size:24px">&#xf07a;</i>
					<span class='badge badge-warning' id='lblCartCount'> {{request.session.cart|length}}  </span></a></li>
				{% endif %}


				{% if user.is_authenticated %}
				<li><a class="smoothScroll">Logged in as {{ request.user }}</a></li>
				<a href="{% url 'logout' %}" class="btn btn-danger" style="margin-top:2%;">LogOut</a>
				{% else %}
				<a href="{% url 'signin' %}" class="btn btn-success" style="margin-top:2%;">LogIn</a>
		    	<!--<a href="{% url 'signin' %}" class="btn btn-success" style="margin-top:2%;">LogIn</a> -->	
				{% endif %}

				{% if user.is_staff %}
				<a href="{% url 'myadmin' %}" class="btn btn-success" style="margin-top:2%;">MyAdmin</a>
				{% endif %}
			</ul>
		</div>
	</div>
</section>

<!-- home section -->
<section id="home" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h1>ROYAL KITCHEN RESTAURANT</h1>
				<h2>CLEAN &amp; SIMPLE DESIGN</h2>
				<a href="#gallery" class="smoothScroll btn btn-default">LEARN MORE</a>
			</div>
		</div>
	</div>		
</section>

<!-- gallery section -->
<section id="gallery" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
				<h1 class="heading">Food Gallery</h1>
				<hr>
			</div>
            {% for data in product %}
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                
				<a href="{{data.image.url}}">
                    <img src={{data.image.url}} alt="gallery img" height="300" width="200" style="border-radius: 10%;">
                </a>
                
				<div>
					<h3>{{data.name}}</h3>
					
					<span>{{data.price}} Rs</span>

				</div>

			 {% if user.is_authenticated %}
             <a href="{% url 'cart_add' data.id %}" class="btn btn-primary">Add to cart</a>
             <a href="{% url 'cart_detail'  %}" class="btn btn-info">view </a>
			 {% else %}
			 <a href="{% url 'signin' %}" class="btn btn-primary">Add to cart</a>
             <a href="{% url 'signin'  %}" class="btn btn-info">view </a>
			 {% endif %}
			</div>
            {% endfor %}
		</div>
	</div>
</section>



<!-- menu section -->
<section id="menu" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
				<h1 class="heading">Special Menu</h1>
				<hr>
			</div>
			{% for data in offers %}
			<div class="col-md-6 col-sm-6">
				
				<h4>{{data.OfferName}} ................ <span>{{data.OfferPrice}}Rs</span></h4>
				<h5>{{data.Availability}}</h5>

			</div>
			{% endfor %}
		</div>
	</div>
</section>		

<!-- team section -->
<section id="team" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
				<h1 class="heading">Meet Royal Kitchen chefs</h1>
				<hr>
			</div>
			{% for data in ceo %}
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<br>
				<br>
				<br>
				<img src="{{data.Image.url}}" class="img-responsive center-block" alt="team img">
				<h4>{{data.Name}}</h4>
				<h3>{{data.Rank}}</h3>
			</div>
			{% endfor %}
			</div>
		</div>
	</div>
</section>



<!-- contact section -->
<section id="contact" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10 col-sm-12 text-center">
				<h1 class="heading">Contact Us</h1>
				<hr>
			</div>
			<div class="col-md-offset-1 col-md-10 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
				
				<form action="" method="post">
					{% csrf_token %}
					<div class="col-md-6 col-sm-6">
						<input name="Name" type="text" class="form-control" id="id_Name" placeholder="Name">
				  </div>
					<div class="col-md-6 col-sm-6">
						<input name="Email" type="email" class="form-control" id="id_Email" placeholder="Email">
				  </div>
					<div class="col-md-12 col-sm-12">
						<textarea name="Message" rows="8" class="form-control" id="id_Message" placeholder="Message"></textarea>
					</div>
					<div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
						<input name="save" type="submit" class="form-control" value="Make a reservation">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>


<!-- footer section -->
<footer class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<h2 class="heading">Contact Info.</h2>
				
				<div class="ph">
					<p><i class="fa fa-phone"></i> Phone</p>
					{% for data in webset %}
					<h4>{{ data.Phone }}</h4>
					{% endfor %}
				</div>
				
				<div class="address">
					<p><i class="fa fa-map-marker"></i> Our Location</p>
					<h4>{{ max.Location }}</h4>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<h2 class="heading">Open Hours</h2>
			    	{% for data in webset %}
					<p>{{ data.Day }}<span>{{ data.OpeningTime }}- {{ data.ClosingTime }}</span></p>
					{% endfor %}
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<h2 class="heading">Follow Us</h2>
				<ul class="social-icon">
					<li><a href="{{ max.FbLink }}" class="fa fa-facebook wow bounceIn" data-wow-delay="0.3s"></a></li>
					<li><a href="{{ max.TwitterLink }}" class="fa fa-twitter wow bounceIn" data-wow-delay="0.6s"></a></li>
					<li><a href="{{ max.LinkedInLink }}" class="f4 fa4-linkedin wow bounceIn" data-wow-delay="0.9s"></a></li>
					<li><a href="{{ max.GitLink }}" class="fa fa-github wow bounceIn" data-wow-delay="0.9s"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>


<!-- copyright section -->
<section id="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>Royal Kitchen</h3>
				<p>Copyright © Royal Kitchen Restaurant              
			</div>
		</div>
	</div>
</section>


<!-- JAVASCRIPT JS FILES -->	
<script src="{% static 'Myapp/js/jquery.js'%}"></script>
<script src="{% static 'Myapp/js/bootstrap.min.js'%}"></script>
<script src="{% static 'Myapp/js/jquery.parallax.js'%}"></script>
<script src="{% static 'Myapp/js/smoothscroll.js'%}"></script>
<script src="{% static 'Myapp/js/nivo-lightbox.min.js'%}"></script>
<script src="{% static 'Myapp/js/wow.min.js'%}"></script>
<script src="{% static 'Myapp/js/custom.js'%}"></script>

</body>

</html>
